/* universal */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --menu-bg: rgba(55, 55, 54, 1);
}

html {
  margin: 0 auto;
  max-width: 1640px;
  font-size: 16px;
  background-color: var(--menu-bg);
  /*background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);*/
  color: white;
}

body {
  background: var(--menu-bg);
  font-family: "Elza narrow", sans-serif;
  font-weight: normal;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: auto 2rem auto 2rem auto 2rem auto auto;
}

.hero {
  grid-area: 1/1/3/4;
}

.featured {
  grid-area: 2/2/5/3;
  z-index: 20;
}

.banner {
  grid-area: 4/1/6/4;
}

.new {
  grid-area: 7/2/8/3;
  z-index: 1;
}

.reviews {
  grid-area: 8/2/9/3;
}

/*Universal ends here!*/

/*Navbar starts here!*/

.logo {
  height: 100%;
}

.logo img {
  max-height: 100px;
}

header {
  background: var(--menu-bg);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-bottom: #1c4b67 solid 0.5rem;
}

nav {
  font-family: "niveau-grotesk", sans-serif;
  position: absolute;
  text-align: left;
  top: calc(100% + 0.5rem);
  left: 0;
  background: var(--menu-bg);
  width: 100%;
  z-index: 90;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.4s ease-in-out;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0.25s;
}

.nav-toggle:checked ~ .nav-toggle-label i:last-child {
  display: block;
}

.nav-toggle:checked ~ .nav-toggle-label i:first-child {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.nav-toggle-label i:last-child {
  display: none;
}

.nav-toggle-label:hover {
  transform: scale(1.3);
  transition: scale 0.4s ease-in-out;
}

nav .menu-item {
  padding: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

nav a i {
  visibility: hidden;
  display: none;
}

nav a:hover {
  font-weight: bold;
}

nav .menu-item:hover {
  background-color: #168ed9;
}

/*Navbar ends here*/

footer {
  grid-area: 3/1/4/2;
  background: lightcoral;
  padding: 1rem;
  display: grid;
  align-items: center;
  border-style: solid;
  border-color: #1c4b67;
  border-width: 10px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -14px 28px,
    rgba(0, 0, 0, 0.22) 0px -10px 10px;
  z-index: 1;
}

footer div {
  display: grid;
  justify-items: right;
  text-align: right;
}

footer li {
  display: inline-block;
  padding-right: 0.5rem;
}

footer ul {
  padding: 0px;
}

footer a {
  color: #e6eef2;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  text-decoration-color: #168ed9;
}

/*Hero slider */

.content-wrapper {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.grid input {
  visibility: hidden;
  display: none;
}

.slider-nav {
  display: flex;
  grid-area: 1/2/2/3;
  justify-content: space-evenly;
  align-items: end;
  padding-top: 1rem;
  z-index: 4;
}

.slider-nav a {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: #e6eef2;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.slider-nav a:active {
  width: 6rem;
  background-color: #168ed9;
}

.slider-nav a:hover {
  width: 6rem;
  background-color: #168ed9;
}

.hero_content {
  display: flex;
  grid-area: 1/1/-1/-1;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.hero_box {
  flex: 1 0 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  scroll-snap-align: start;
}

.hero_content .hero_box:nth-child(1) {
  background-image: url(../images/hero1/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_content .hero_box:nth-child(2) {
  background-image: url(../images/hero1/banner2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero_content .hero_box:nth-child(3) {
  background-image: url(../images/hero1/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  grid-area: 2/1/2/2;
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(3, auto) minmax(1rem, 2rem);
  grid-column: 1fr auto;
}

.content .heading_1 {
  font-family: "niveau-grotesk", sans-serif;
  font-size: clamp(1.8rem, 6vw, 3rem);
  font-weight: bold;
  grid-area: 1/1/2/3;
}

.content .desc {
  font-size: clamp(1rem, 3vw, 2rem);
  grid-area: 2/1/3/3;
}

.content .cta_button {
  font-size: clamp(1.2rem, 3vw, 2rem);
  border-radius: 0.2rem;
  background-color: #168ed9;
  width: fit-content;
  opacity: 1;
  padding: 0.5rem 0rem;
  align-self: center;
  /*grid-area: 3/1/4/3;*/
}

.content .cta_button:hover {
  background-color: #e6eef2;
}

.content .cta_button a {
  text-decoration: none;
  color: #e6eef2;
  padding: 1rem 2rem;
}

.content .cta_button a:hover {
  color: #168ed9;
}

#g1 {
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  opacity: 0.5;
  grid-area: 1/1/-1/-1;
  z-index: 1;
}

#g2 {
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  opacity: 0.5;
  grid-area: 1/1/-1/-1;
  z-index: 1;
}

#g3 {
  background-image: linear-gradient(270deg, #000000 0%, #880e00 74%);
  opacity: 0.5;
  grid-area: 1/1/-1/-1;
  z-index: 1;
}

/* slider end here! */

/*featured starts here*/

.featured_content {
  display: grid;
  gap: 1rem;
  grid-area: 1/1/-1/-1;
  padding: 0rem;
  grid-template-rows: repeat(2, 1fr);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.feature {
  flex: 1 0 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.featured .feature:nth-child(1) {
  background-image: url(../images/featured/interstellar-movie-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.featured .feature:nth-child(2) {
  background-image: url(../images/featured/the-green-mile-movie-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content .rating {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: #168ed9;
  grid-area: 1/2/2/3;
  align-self: center;
}

/*featured ends here!*/

.cta_container {
  display: grid;
  grid-template-columns: repeat(3 1fr);
}

.cta_container #banner {
  padding-top: 4rem;
  background-color: #e6eef2;
  color: #373738;
}

/*-------------------------------------------------- Responsive Scaling----------------------------*/

@media screen and (min-width: 830px) {
  main {
    /*width: 100%;
  display: grid;*/
    grid-template-columns: 2rem 1fr 2rem;
    /*grid-template-rows: auto 2rem auto 2rem auto 2rem auto auto;*/
  }

  /*Navbar styling here!*/
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: auto minmax(600px, 1fr);
  }

  .logo {
    grid-area: 1/1/2/2;
    width: 190px;
  }

  nav {
    all: unset;
    grid-area: 1/2/2/3;
    justify-content: flex-end;
    align-self: center;
  }

  nav .menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "niveau-grotesk", sans-serif;
    font-size: 1.8rem;
  }
  nav a {
    opacity: 1;
  }

  nav #hide {
    display: none;
  }

  .menu-item span {
    display: none;
  }

  nav a i {
    display: block;
    visibility: visible;
  }
  /*End Navbar styling!*/

  .featured_content {
    display: grid;
    gap: 1rem;
    grid-area: 1/1/-1/-1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
